.buttons{
    display: flex;
    gap:2em;
}

.buttons a{
    min-width: 260px;
    color: black;
    padding: 15px 20px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 15px;
    z-index: 0;
    background: #fff;
    overflow: hidden;
    border: 2px solid #ffd819;
    background: #ffd819;
    text-decoration: none;
    text-align: center;
}

.buttons a:hover{
    transform: scale(1.1);
    transition: all 0.9s ease;
}

.buttons a:hover:after{
    width: 100%;
}

.buttons a:after{
    content: "";
    position: absolute;
    z-index: -1;
    transition: all 0.9s ease;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
}
